.task-container {
  width: 500px;
  margin: 50px auto;
  padding: 25px;
  border-radius: 16px;
  background: rebeccapurple;
  color: black;
  font-family: Arial, sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 30px;
  color: white;
}

.add-task {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.task-input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 8px;
  outline: none;
}

.add-btn {
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  background: limegreen;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.add-btn:hover {
  transform: scale(1.05);
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 14px;
  margin-bottom: 12px;

  background: white;
  border-radius: 10px;
}

.delete-btn {
  border: none;
  padding: 8px 14px;
  border-radius: 8px;

  background: crimson;
  color: white;

  cursor: pointer;
  transition: 0.3s;
}

.delete-btn:hover {
  transform: scale(1.05);
}

.empty {
  text-align: center;
  font-size: 18px;
  color: white;
}